{% extends "base.html" %}
{% load rest_framework %}


{% block "custom_css" %}
{{ survey.custom_css | safe }}
{% endblock %}

{% block "jumbotron" %}
    <h1>{{ survey.title }}</h1>
    <p>{{ survey.description }}</p>
{% endblock "jumbotron" %}


{% block "content" %}

{% render_form serializer as form %}
<div class="container">
    {% if serializer.is_valid == False %}
    <div class="row">
        <div class="alert alert-danger">
            {% for field, content_list in serializer.errors.items %}
            <ul>
                <li>{{ field }}</li>
                <ul>
                    {% for content in content_list %}
                    <li>{{content}}</li>
                    {% endfor %}
                </ul>
            </ul>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <form action="./" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="post" class="btn btn-block btn-lg btn-success">
            </form>
        </div>
    </div>
</div>

{% endblock %}
