{% extends "base.html" %}
{% load rest_framework %}


{% block "custom_css" %}
{{ survey.custom_css | safe }}
{% endblock %}

{% block "content" %}

{% render_form serializer as form %}


<div class="jumbotron">
    <div class="container">
        <h1>{{ survey.title }}</h1>
        <p>{{ survey.description }}</p>
    </div>
</div>


<div class="container">
    {% if serializer.is_valid == False %}
    <div class="row">
        <div class="alert alert-danger">
            {{ serializer.errors }}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <form action="./" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="post" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% endblock %}
